.venv/
node_modules
__pycache__
cropped.png
no-checkbox.png
yes-checkbox.png
proposal.pdf
stack2.py
test.txt
credentials.json
llm_prompt.txt
info
math
output.xlsx
static/
uploads/
.env
questions
template.txt
template.xlsx
