.venv/
node_modules/
__pycache__
uploads/
.svelte-kit/generated/
.svelte-kit/types/
.svelte-kit/output/

.svelte-kit/ambient.d.ts
.svelte-kit/non-ambient.d.ts
test.txt
credentials.json
llm_prompt.txt
.env
