.venv/
node_modules/
__pycache__/
.svelte-kit/generated/
.svelte-kit/types/
.svelte-kit/output/
uploads/
static/quotations/
kenyare/test
.svelte-kit/ambient.d.ts
.svelte-kit/non-ambient.d.ts
test.txt
credentials.json
.env
